In [17]:
import pickle
from pandas import DataFrame
from collections import defaultdict

In [42]:
cluster = pickle.load(open('Week2_14_cluster.pkl', 'rb'))

In [22]:
##### Part number is keys #####
cluster.keys()

[u'1', u'3', u'2']

In [35]:
##### Matching sub-expression as key in each part #####
part_no='3'
problem_id = '14'
types_of_mistakes=cluster[part_no].keys()
types_of_mistakes

['Digits',
 "['R.0.0']",
 "['R.1.0']",
 "['R.1']",
 "['R.1.1']",
 "['R.0.0', 'R.1']",
 "['R.0']",
 'Wrong_Sign',
 'Fraction',
 'Nothing',
 "['R.0', 'R.1.0']",
 "['R.0.0', 'R.1.0']"]

In [24]:
p1_cluster_size = {}
for t in types_of_mistakes:
    p1_cluster_size[t] = len(cluster[part_no][t])
p1_cluster_size

{'Digits': 86,
 'Fraction': 46,
 'Nothing': 432,
 'Wrong_Sign': 43,
 "['R.0', 'R.1.0']": 5,
 "['R.0']": 32,
 "['R.0.0', 'R.1']": 3,
 "['R.0.0', 'R.1.0']": 2,
 "['R.0.0']": 137,
 "['R.1']": 4,
 "['R.1.0']": 25,
 "['R.1.1']": 5}

In [26]:
##### All attempts as value #####
mistake_type="['R.1']"
print mistake_type
print "The size of this clustering: ", len(cluster[part_no][mistake_type])
DataFrame(cluster[part_no][mistake_type], columns=['Answer', 'Attempt', 'Matching sub-exp'])

['R.1']
The size of this clustering:  4

      Answer             Attempt                  Matching sub-exp
0  26^4-25^4  (26*25*25*25)*25^4     [(R.1, 390625.0, 25^4, 25^4)]
1  26^6-25^6              6*25^6  [(R.1, 244140625.0, 25^6, 25^6)]
2  26^6-25^6             6(25^6)  [(R.1, 244140625.0, 25^6, 25^6)]
3  26^5-25^5              5*25^5    [(R.1, 9765625.0, 25^5, 25^5)]

### Hint for mistake type R.0 
(Week 2, Problem 14, part 3).

"You have correctly computed the number of unrestricted strings of length \$n2, which is 
26^\$n2. You now need to subtract the number of strings of length \$n2 that do not contain the letter 'x'. What is the size of this set of strings?
[25^\$n2]

(there is nothing special about 'x', you would get the same size if you did not allow any other letter.)"

### Hints for mistake type R.1

"You have correctly calculated the number of strings of length \$n2 which do not contain the letter 'x'. Now you need to subtract this number from the number of unrestricted strings of length \$n2, which is?

26^\$n2

### Other relevant hints

these are relevant for any question about "number of possibilities" for which the answer must be a positive integer.

* If the result s a negative number: "can the number of possibilities be a negative number?"

* If the result is fractional: "can the number of possibilities be fractional?"

The 'Nothing' cluster will not have matching sub-expression

In [30]:
# To filter out 'Nothing', we need to load the correct answer timestamp pickle file
timestamp_week2 = pickle.load(open('../../../2015data/Week2_correct_timestamp.pkl','rb'))
# timestamp_week2 is a dictionary with user_id as keys
# Each user_id has a subdictionary with (problem_id, part_id) as keys
# follow by the timestamp of the correct attempt
timestamp_week2['phodgson']

defaultdict(str,
            {(u'1', u'1'): u'2015-10-05 21:39:08',
             (u'1', u'2'): u'2015-10-05 21:39:08',
             (u'10', u'1'): u'2015-10-05 21:52:20',
             (u'10', u'2'): u'2015-10-05 21:52:20',
             (u'11', u'1'): u'2015-10-05 22:02:15',
             (u'11', u'2'): u'2015-10-05 22:02:15',
             (u'11', u'3'): u'2015-10-05 22:02:15',
             (u'12', u'1'): u'2015-10-05 22:02:46',
             (u'12', u'2'): u'2015-10-05 22:02:46',
             (u'13', u'1'): u'2015-10-05 22:06:20',
             (u'13', u'2'): u'2015-10-05 22:06:20',
             (u'13', u'3'): u'2015-10-05 22:06:20',
             (u'13', u'4'): u'2015-10-05 22:06:20',
             (u'13', u'5'): u'2015-10-05 22:12:27',
             (u'14', u'1'): u'2015-10-05 22:08:59',
             (u'14', u'2'): u'2015-10-05 22:08:59',
             (u'14', u'3'): u'2015-10-05 22:09:20',
             (u'2', u'1'): u'2015-10-05 21:41:05',
             (u'2', u'2'): u'2015-10-05 21:41:05',
             (u'2', u'3'): u'2015-10-05 21:41:05',
             (u'3', u'1'): u'2015-10-05 21:45:21',
             (u'3', u'2'): u'2015-10-05 21:45:21',
             (u'3', u'3'): u'2015-10-05 21:45:21',
             (u'3', u'4'): u'2015-10-05 21:45:21',
             (u'3', u'5'): u'2015-10-05 21:45:21',
             (u'3', u'6'): u'2015-10-05 21:45:21',
             (u'3', u'7'): u'2015-10-05 21:45:21',
             (u'3', u'8'): u'2015-10-05 21:45:21',
             (u'4', u'1'): u'2015-10-05 21:46:19',
             (u'4', u'2'): u'2015-10-05 21:46:19',
             (u'4', u'3'): u'2015-10-05 21:46:19',
             (u'4', u'4'): u'2015-10-05 21:46:19',
             (u'5', u'1'): u'2015-10-05 21:47:08',
             (u'5', u'2'): u'2015-10-05 21:47:08',
             (u'6', u'1'): u'2015-10-05 21:47:49',
             (u'6', u'2'): u'2015-10-05 21:47:49',
             (u'8', u'1'): u'2015-10-05 21:48:37',
             (u'8', u'2'): u'2015-10-05 21:48:37',
             (u'8', u'3'): u'2015-10-05 21:49:07',
             (u'9', u'1'): u'2015-10-05 21:50:04',
             (u'9', u'2'): u'2015-10-05 21:50:04'})

In [45]:
# Show what 'Nothing' looks like, the last entry of each element is the timestamp
mistake_type='Nothing'
print "Signature: ", mistake_type
print "The size of this clustering: ", len(cluster[part_no][mistake_type])
DataFrame(cluster[part_no][mistake_type][:10], columns=['Answer', 'Attempt', 'Att_Tree', 'User_ID', 'Variables', 'Timestamp'])

Signature:  Nothing
The size of this clustering:  401

,Answer,Attempt,Att_Tree,User_ID,Variables,Timestamp
0,26^3-25^3,3*26^2,"[[*, 2028.0, [0, 5], R], [X, 3.0, [0, 0], R.0]...",eyhu,"[($n2, 3), ($n2, 3)]",2015-10-02 01:26:46
1,26^3-25^3,25^2 + 25 + 25 + 1,"[[+, 676.0, [0, 17], R], [[+, 675.0, [0, 13], ...",eyhu,"[($n2, 3), ($n2, 3)]",2015-10-02 01:29:25
2,26^6-25^6,26*26*26*26*26*1,"[[*, 11881376.0, [0, 15], R], [[*, 11881376.0,...",gsrandha,"[($n2, 6), ($n2, 6)]",2015-10-02 02:10:11
3,26^6-25^6,1*26*26*26*26*26,"[[*, 11881376.0, [0, 15], R], [[*, 456976.0, [...",gsrandha,"[($n2, 6), ($n2, 6)]",2015-10-02 02:10:34
4,26^5-25^5,26**4,"[[^, 456976.0, [0, 4], R], [X, 26.0, [0, 1], R...",pthsu,"[($n2, 5), ($n2, 5)]",2015-10-02 04:29:29
5,26^5-25^5,25*26,"[[*, 650.0, [0, 4], R], [X, 25.0, [0, 1], R.0]...",yypan,"[($n2, 5), ($n2, 5)]",2015-10-02 05:08:39
6,26^5-25^5,25*26^4,"[[*, 11424400.0, [0, 6], R], [X, 25.0, [0, 1],...",yypan,"[($n2, 5), ($n2, 5)]",2015-10-02 05:09:02
7,26^5-25^5,5*25*26^4,"[[*, 57122000.0, [0, 8], R], [[*, 125.0, [0, 3...",yypan,"[($n2, 5), ($n2, 5)]",2015-10-02 05:10:43
8,26^4-25^4,26*25*25*25,"[[*, 406250.0, [0, 10], R], [[*, 16250.0, [0, ...",achava,"[($n2, 4), ($n2, 4)]",2015-10-02 05:47:33
9,26^4-25^4,26*25*26*25,"[[*, 422500.0, [0, 10], R], [[*, 16900.0, [0, ...",achava,"[($n2, 4), ($n2, 4)]",2015-10-02 05:47:49

In [43]:
from datetime import datetime as dt
filter_nothing = []
cluster[part_no]['redirect'] = []
for n in cluster[part_no][mistake_type]:
    time = dt.strptime(n[-1], "%Y-%m-%d %H:%M:%S")
    # part 3 depends on part 1 and 2
    # we create one signature 'redirect'
    # that the hints should redirect students to previous parts
    user_id = n[3]
    part1_time = dt.strptime(timestamp_week2[user_id][(problem_id, '1')], "%Y-%m-%d %H:%M:%S")
    part2_time = dt.strptime(timestamp_week2[user_id][(problem_id, '2')], "%Y-%m-%d %H:%M:%S")
    if time < part1_time or time < part2_time:
        print user_id, n[-1], timestamp_week2[user_id][(problem_id, '1')], timestamp_week2[user_id][(problem_id, '2')]
        cluster[part_no]['redirect'].append(n)
    else:
        filter_nothing.append(n)
cluster[part_no]['Nothing'] = filter_nothing

mtrafeca 2015-10-02 06:18:52 2015-10-02 06:16:49 2015-10-02 06:43:01
mtrafeca 2015-10-02 06:19:36 2015-10-02 06:16:49 2015-10-02 06:43:01
mtrafeca 2015-10-02 06:23:39 2015-10-02 06:16:49 2015-10-02 06:43:01
mtrafeca 2015-10-02 06:28:18 2015-10-02 06:16:49 2015-10-02 06:43:01
tcuddy 2015-10-02 20:23:28 2015-10-02 20:23:57 2015-10-02 20:23:57
sayao 2015-10-03 00:00:02 2015-10-03 00:41:54 2015-10-03 00:42:31
volim 2015-10-03 18:52:21 2015-10-03 18:52:37 2015-10-03 18:52:37
dpereira 2015-10-03 21:15:19 2015-10-03 21:16:31 2015-10-03 21:16:31
r2fisher 2015-10-05 16:37:51 2015-10-05 20:47:10 2015-10-05 20:47:10
kalang 2015-10-05 22:48:58 2015-10-05 22:50:05 2015-10-05 22:50:14
abjara 2015-10-05 23:04:49 2015-10-05 23:05:30 2015-10-05 23:05:30
mcatozzi 2015-10-07 00:17:41 2015-10-07 00:21:52 2015-10-07 00:15:47
mcatozzi 2015-10-07 00:19:49 2015-10-07 00:21:52 2015-10-07 00:15:47
hmnaing 2015-10-07 02:56:55 2015-10-07 18:08:53 2015-10-07 18:08:53
hmnaing 2015-10-07 02:59:52 2015-10-07 18:08:53 2015-10-07 18:08:53
kosung 2015-10-07 06:23:39 2015-10-07 06:25:51 2015-10-07 06:26:28
kosung 2015-10-07 06:25:23 2015-10-07 06:25:51 2015-10-07 06:26:28
hah008 2015-10-07 23:43:17 2015-10-08 07:10:44 2015-10-07 23:41:30
hah008 2015-10-07 23:45:25 2015-10-08 07:10:44 2015-10-07 23:41:30
hah008 2015-10-07 23:46:45 2015-10-08 07:10:44 2015-10-07 23:41:30
hah008 2015-10-07 23:46:52 2015-10-08 07:10:44 2015-10-07 23:41:30
ajvanega 2015-10-07 23:47:54 2015-10-07 23:43:09 2015-10-07 23:52:15
ajvanega 2015-10-07 23:48:52 2015-10-07 23:43:09 2015-10-07 23:52:15
lcardoso 2015-10-08 07:02:50 2015-10-08 07:07:35 2015-10-08 07:07:35
lcardoso 2015-10-08 07:04:31 2015-10-08 07:07:35 2015-10-08 07:07:35
hah008 2015-10-08 07:10:33 2015-10-08 07:10:44 2015-10-07 23:41:30
dis003 2015-10-08 07:25:36 2015-10-08 07:26:17 2015-10-08 07:26:17
alhung 2015-10-08 07:55:13 2015-10-08 07:58:54 2015-10-08 07:58:54
alhung 2015-10-08 07:57:21 2015-10-08 07:58:54 2015-10-08 07:58:54
alhung 2015-10-08 07:58:34 2015-10-08 07:58:54 2015-10-08 07:58:54
akhmelni 2015-10-08 21:51:11 2015-10-08 21:51:32 2015-10-08 21:51:40

In [44]:
len(cluster[part_no]['Nothing'])

401

In [46]:
DataFrame(cluster[part_no][mistake_type][:10], columns=['Answer', 'Attempt', 'Att_Tree', 'User_ID', 'Variables', 'Timestamp'])

,Answer,Attempt,Att_Tree,User_ID,Variables,Timestamp
0,26^3-25^3,3*26^2,"[[*, 2028.0, [0, 5], R], [X, 3.0, [0, 0], R.0]...",eyhu,"[($n2, 3), ($n2, 3)]",2015-10-02 01:26:46
1,26^3-25^3,25^2 + 25 + 25 + 1,"[[+, 676.0, [0, 17], R], [[+, 675.0, [0, 13], ...",eyhu,"[($n2, 3), ($n2, 3)]",2015-10-02 01:29:25
2,26^6-25^6,26*26*26*26*26*1,"[[*, 11881376.0, [0, 15], R], [[*, 11881376.0,...",gsrandha,"[($n2, 6), ($n2, 6)]",2015-10-02 02:10:11
3,26^6-25^6,1*26*26*26*26*26,"[[*, 11881376.0, [0, 15], R], [[*, 456976.0, [...",gsrandha,"[($n2, 6), ($n2, 6)]",2015-10-02 02:10:34
4,26^5-25^5,26**4,"[[^, 456976.0, [0, 4], R], [X, 26.0, [0, 1], R...",pthsu,"[($n2, 5), ($n2, 5)]",2015-10-02 04:29:29
5,26^5-25^5,25*26,"[[*, 650.0, [0, 4], R], [X, 25.0, [0, 1], R.0]...",yypan,"[($n2, 5), ($n2, 5)]",2015-10-02 05:08:39
6,26^5-25^5,25*26^4,"[[*, 11424400.0, [0, 6], R], [X, 25.0, [0, 1],...",yypan,"[($n2, 5), ($n2, 5)]",2015-10-02 05:09:02
7,26^5-25^5,5*25*26^4,"[[*, 57122000.0, [0, 8], R], [[*, 125.0, [0, 3...",yypan,"[($n2, 5), ($n2, 5)]",2015-10-02 05:10:43
8,26^4-25^4,26*25*25*25,"[[*, 406250.0, [0, 10], R], [[*, 16250.0, [0, ...",achava,"[($n2, 4), ($n2, 4)]",2015-10-02 05:47:33
9,26^4-25^4,26*25*26*25,"[[*, 422500.0, [0, 10], R], [[*, 16900.0, [0, ...",achava,"[($n2, 4), ($n2, 4)]",2015-10-02 05:47:49

In [13]:
Hint={}
Hint['1']={}
Hint['1'][mistake_type]=\
"""
Which of the following expressions corresponds to $3!$ ?
(a) The number of types of sandwiches
(b) The number of ways to order three types of sandwiches from best to worst
(c) The number of ways three different people can order a sandwich.

[Correct answer is (b)]
"""

In [14]:
##### All attempts as value #####
for i in range(len(types_of_mistakes)):
    mistake_type=types_of_mistakes[i]
    print i, 'signature=',mistake_type
    print 'examples=',cluster['1'][mistake_type]

0 signature= Nothing
examples= [(u'3*2', u'110'), (u'3*2', u'9'), (u'3*2', u'1/6'), (u'3*2', u'5!'), (u'3*2', u'5'), (u'3*2', u'19'), (u'3*2', u'9'), (u'3*2', u'12'), (u'3*2', u'8'), (u'3*2', u'9'), (u'3*2', u'8'), (u'3*2', u'5!'), (u'3*2', u'15'), (u'3*2', u'20'), (u'3*2', u'5!/(3!*2!)'), (u'3*2', u'8'), (u'3*2', u'9'), (u'3*2', u'8'), (u'3*2', u'8'), (u'3*2', u'140'), (u'3*2', u'8'), (u'3*2', u'8'), (u'3*2', u'8'), (u'3*2', u'7!/5!'), (u'3*2', u'5!/3!'), (u'3*2', u'5!/(3!2!)'), (u'3*2', u'5'), (u'3*2', u'9'), (u'3*2', u'8'), (u'3*2', u'9'), (u'3*2', u'12')]
1 signature= ['R.1']
examples= [(u'3*2', u'3!*2!', [('R.1', 2.0, u'2', u'2!')]), (u'3*2', u'3!2!', [('R.1', 2.0, u'2', u'2!')]), (u'3*2', u'3!*2!', [('R.1', 2.0, u'2', u'2!')]), (u'3*2', u'3!2!', [('R.1', 2.0, u'2', u'2!')])]
2 signature= ['R']
examples= [(u'3*2', u'C(3,1)*C(2,1)', [('R', 6.0, u'3*2', u'C(3,1)*C(2,1)')])]
3 signature= ['R.0']
examples= [(u'3*2', u'3*3', [('R.0', 3.0, u'3', u'3')])]

In [17]:
Hint['1'][types_of_mistakes[0]]=\
"""
If answer is a a number give the hint "Please type an expression"
"""

In [19]:
Hint['1'][types_of_mistakes[3]]=\
"""
How many types of fruit are there?
{answer: 2}
"""

In [20]:
Hint['1'][types_of_mistakes[2]]=\
"""
Correct answer, can be written more simply as 3*2
"""

In [33]:
Hint['1'][types_of_mistakes[5]]=\
"""
Can the number of choices be fractional? (answer: no)
"""

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

IndexError: list index out of range

### Jumping to Question 14

In [34]:
cluster = pickle.load(open('Week2_14_cluster.pkl', 'rb'))
cluster.keys()

[u'1', u'3', u'2']

In [36]:
##### Matching sub-expression as key in each part #####
types_of_mistakes=cluster['1'].keys()
types_of_mistakes

['Nothing', "['R.0']", "['R.1']", "['R.0', 'R.1']"]

### General Filters

* If signature is 'R' then the answer is correct, we don't need to give a hint.
* Group answers according to signature (see "need to correct for user variables" above.
* If answer is not an expression: give automatic hint "please write an expression".
* If expression matches two subexpression (example R.0, and R.1) then add it to both the R.0 list and the R.1 list
* The keys to cluster (say cluster['1']) should be just "R.0" or "R.1.1", ther rest of the information should be in the corresponding list. Having also the variable values would help'

In [42]:
##### Matching sub-expression as key in each part #####
from IPython.display import display
types_of_mistakes=cluster['3'].keys()
for t in types_of_mistakes:
    print '='*20,t,'='*20
    if t == 'Nothing':
        display(DataFrame(cluster['3'][t], columns = ['Answer', 'Attempt']))
    else:
        display(DataFrame(cluster['3'][t], columns = ['Answer', 'Attempt', 'Matching sub-exp']))

==================== ['R.0.0'] ====================

,Answer,Attempt,Matching sub-exp
0,26^5-25^5,26**4 *5,"[(R.0.0, 26.0, 26, 26)]"
1,26^4-25^4,26!/((4!)(22!)),"[(R.0.0, 26.0, 26, 26)]"
2,26^4-25^4,26!/((4!)),"[(R.0.0, 26.0, 26, 26)]"
3,26^5-25^5,26!/(22!*4!),"[(R.0.0, 26.0, 26, 26)]"
4,26^5-25^5,26!/(21!*5!),"[(R.0.0, 26.0, 26, 26)]"
5,26^5-25^5,(26^4)/5,"[(R.0.0, 26.0, 26, 26)]"
6,26^5-25^5,(26^4)*5,"[(R.0.0, 26.0, 26, 26)]"
7,26^5-25^5,(26^4)*5,"[(R.0.0, 26.0, 26, 26)]"
8,26^5-25^5,26! / (4! * 22!),"[(R.0.0, 26.0, 26, 26)]"
9,26^5-25^5,26^4 * 5,"[(R.0.0, 26.0, 26, 26)]"
10,26^5-25^5,26! / (5! * 21!),"[(R.0.0, 26.0, 26, 26)]"
11,26^6-25^6,(26^5)*6,"[(R.0.0, 26.0, 26, 26)]"
12,26^6-25^6,26^5*6,"[(R.0.0, 26.0, 26, 26)]"
13,26^6-25^6,26^5*5,"[(R.0.0, 26.0, 26, 26)]"
14,26^5-25^5,26**4-1,"[(R.0.0, 26.0, 26, 26)]"
15,26^5-25^5,26**4*5,"[(R.0.0, 26.0, 26, 26)]"
16,26^4-25^4,(26^3)/(4!),"[(R.0.0, 26.0, 26, 26)]"
17,26^3-25^3,26*25*25,"[(R.0.0, 26.0, 26, 26)]"
18,26^3-25^3,26* 25* 24,"[(R.0.0, 26.0, 26, 26)]"
19,26^3-25^3,26^2*3,"[(R.0.0, 26.0, 26, 26)]"
20,26^6-25^6,26! / 22!,"[(R.0.0, 26.0, 26, 26)]"
21,26^6-25^6,(26^5)(6!),"[(R.0.0, 26.0, 26, 26)]"
22,26^6-25^6,(26^5)(6),"[(R.0.0, 26.0, 26, 26)]"
23,26^6-25^6,(26!)/(5!),"[(R.0.0, 26.0, 26, 26)]"
24,26^3-25^3,26^2*3,"[(R.0.0, 26.0, 26, 26)]"
25,26^3-25^3,(26!/(24!*2!)),"[(R.0.0, 26.0, 26, 26)]"
26,26^4-25^4,(26^3)(4),"[(R.0.0, 26.0, 26, 26)]"
27,26^4-25^4,(26^3)(4)-4,"[(R.0.0, 26.0, 26, 26)]"
28,26^4-25^4,26! / 23!,"[(R.0.0, 26.0, 26, 26)]"
29,26^4-25^4,(26^3)-24,"[(R.0.0, 26.0, 26, 26)]"
...,...,...,...
126,26^5-25^5,(26!)/((5!)*(21!)),"[(R.0.0, 26.0, 26, 26)]"
127,26^3-25^3,26*26*3,"[(R.0.0, 26.0, 26, 26)]"
128,26^3-25^3,1 * 26 * 26 * (3!/2!*1!),"[(R.0.0, 26.0, 26, 1 * 26)]"
129,26^3-25^3,1 * 26 * 1 * (3!/2!*1!) + 1 * 26 * 25 * (3!/2...,"[(R.0.0, 26.0, 26, 1 * 26 * 1)]"
130,26^3-25^3,1 * 26 * 1 * (3!/(2!*1!)) + 1 * 26 * 25 * (3!/...,"[(R.0.0, 26.0, 26, 1 * 26 * 1)]"
131,26^6-25^6,26^5 * 25,"[(R.0.0, 26.0, 26, 26)]"
132,26^4-25^4,26!/23!,"[(R.0.0, 26.0, 26, 26)]"
133,26^6-25^6,(26^5) * 6,"[(R.0.0, 26.0, 26, 26)]"
134,26^5-25^5,26*25*25,"[(R.0.0, 26.0, 26, 26)]"
135,26^6-25^6,26^5*6,"[(R.0.0, 26.0, 26, 26)]"
136,26^3-25^3,26*25*24,"[(R.0.0, 26.0, 26, 26)]"
137,26^3-25^3,26*26*25,"[(R.0.0, 26.0, 26, 26)]"
138,26^3-25^3,26*26*3!,"[(R.0.0, 26.0, 26, 26)]"
139,26^3-25^3,26*26*3,"[(R.0.0, 26.0, 26, 26)]"
140,26^3-25^3,26^2*3,"[(R.0.0, 26.0, 26, 26)]"
141,26^4-25^4,26^2*25,"[(R.0.0, 26.0, 26, 26)]"
142,26^4-25^4,26^3 * 4,"[(R.0.0, 26.0, 26, 26)]"
143,26^5-25^5,(26^4)*5,"[(R.0.0, 26.0, 26, 26)]"
144,26^6-25^6,26^5 - 25,"[(R.0.0, 26.0, 26, 26)]"
145,26^6-25^6,26^5*25,"[(R.0.0, 26.0, 26, 26)]"
146,26^5-25^5,26^4 * 4,"[(R.0.0, 26.0, 26, 26)]"
147,26^5-25^5,26^4 * 5,"[(R.0.0, 26.0, 26, 26)]"
148,26^4-25^4,26**3*4,"[(R.0.0, 26.0, 26, 26)]"
149,26^4-25^4,26**3*3,"[(R.0.0, 26.0, 26, 26)]"
150,26^3-25^3,(26*26)*3,"[(R.0.0, 26.0, 26, 26)]"
151,26^3-25^3,26^2 * 3,"[(R.0.0, 26.0, 26, 26)]"
152,26^3-25^3,26^2*3!,"[(R.0.0, 26.0, 26, 26)]"
153,26^3-25^3,26^2*2!,"[(R.0.0, 26.0, 26, 26)]"
154,26^3-25^3,26^2 +1,"[(R.0.0, 26.0, 26, 26)]"
155,26^3-25^3,26^2*3,"[(R.0.0, 26.0, 26, 26)]"

==================== ['R.1.0'] ====================

       Answer                             Attempt           Matching sub-exp
0   26^4-25^4                         26!/((25!))    [(R.1.0, 25.0, 25, 25)]
1   26^4-25^4                          4!/((25!))    [(R.1.0, 25.0, 25, 25)]
2   26^6-25^6                              5*25^5    [(R.1.0, 25.0, 25, 25)]
3   26^6-25^6                           6*26*25^5    [(R.1.0, 25.0, 25, 25)]
4   26^4-25^4                         26!/(26-1)!  [(R.1.0, 25.0, 25, 26-1)]
5   26^4-25^4                             26*25^3    [(R.1.0, 25.0, 25, 25)]
6   26^4-25^4  ((25^3) * 5) + ((25^2)*3) + (25*5)    [(R.1.0, 25.0, 25, 25)]
7   26^3-25^3                             26*25^2    [(R.1.0, 25.0, 25, 25)]
8   26^5-25^5                            5*(25^4)    [(R.1.0, 25.0, 25, 25)]
9   26^6-25^6                             5(25^5)    [(R.1.0, 25.0, 25, 25)]
10  26^6-25^6                             6(25^5)    [(R.1.0, 25.0, 25, 25)]
11  26^4-25^4                            4*(25^3)    [(R.1.0, 25.0, 25, 25)]
12  26^4-25^4                             26*25^3    [(R.1.0, 25.0, 25, 25)]
13  26^4-25^4      26^4+25^3*26+25^2*26^2+25*26^3    [(R.1.0, 25.0, 25, 25)]
14  26^3-25^3                            3 * 25^2    [(R.1.0, 25.0, 25, 25)]
15  26^3-25^3                           3*26*25^2    [(R.1.0, 25.0, 25, 25)]
16  26^3-25^3                              3*25^2    [(R.1.0, 25.0, 25, 25)]
17  26^4-25^4                              3*25^3    [(R.1.0, 25.0, 25, 25)]
18  26^4-25^4                           26!/[25!]    [(R.1.0, 25.0, 25, 25)]
19  26^6-25^6                            5*(25^5)    [(R.1.0, 25.0, 25, 25)]
20  26^4-25^4                             26*25^3    [(R.1.0, 25.0, 25, 25)]
21  26^3-25^3                              3*25^2    [(R.1.0, 25.0, 25, 25)]
22  26^3-25^3               26*26 + 26*25 + 25*24    [(R.1.0, 25.0, 25, 25)]
23  26^5-25^5                              5*25^4    [(R.1.0, 25.0, 25, 25)]
24  26^4-25^4                             26*25^3    [(R.1.0, 25.0, 25, 25)]
25  26^6-25^6                              6*25^5    [(R.1.0, 25.0, 25, 25)]

==================== ['R.1'] ====================

       Answer             Attempt                  Matching sub-exp
0   26^4-25^4  (26*25*25*25)*25^4     [(R.1, 390625.0, 25^4, 25^4)]
1   26^3-25^3             1-25**3     [(R.1, 15625.0, 25^3, 25**3)]
2   26^5-25^5              1-25^5    [(R.1, 9765625.0, 25^5, 25^5)]
3   26^4-25^4            1 - 25^4     [(R.1, 390625.0, 25^4, 25^4)]
4   26^5-25^5              1-25^5    [(R.1, 9765625.0, 25^5, 25^5)]
5   26^4-25^4            1/(25^4)     [(R.1, 390625.0, 25^4, 25^4)]
6   26^3-25^3           1 - 25**3     [(R.1, 15625.0, 25^3, 25**3)]
7   26^6-25^6              6*25^6  [(R.1, 244140625.0, 25^6, 25^6)]
8   26^6-25^6             6(25^6)  [(R.1, 244140625.0, 25^6, 25^6)]
9   26^6-25^6            6-(25^6)  [(R.1, 244140625.0, 25^6, 25^6)]
10  26^4-25^4              1-25^4     [(R.1, 390625.0, 25^4, 25^4)]
11  26^6-25^6              1-25^6  [(R.1, 244140625.0, 25^6, 25^6)]
12  26^6-25^6          1 - (25^6)  [(R.1, 244140625.0, 25^6, 25^6)]
13  26^4-25^4            1-(25^4)     [(R.1, 390625.0, 25^4, 25^4)]
14  26^6-25^6              1-25^6  [(R.1, 244140625.0, 25^6, 25^6)]
15  26^5-25^5              1-25^5    [(R.1, 9765625.0, 25^5, 25^5)]
16  26^4-25^4            1-(25^4)     [(R.1, 390625.0, 25^4, 25^4)]
17  26^5-25^5              5*25^5    [(R.1, 9765625.0, 25^5, 25^5)]
18  26^5-25^5              1-25^5    [(R.1, 9765625.0, 25^5, 25^5)]
19  26^4-25^4              1-25^4     [(R.1, 390625.0, 25^4, 25^4)]
20  26^5-25^5            1-(25^5)    [(R.1, 9765625.0, 25^5, 25^5)]
21  26^3-25^3          1-25*25*25  [(R.1, 15625.0, 25^3, 25*25*25)]
22  26^6-25^6            1-(25^6)  [(R.1, 244140625.0, 25^6, 25^6)]

==================== ['R.1.1'] ====================

       Answer                             Attempt      Matching sub-exp
0   26^4-25^4                  (26*25*25*25)*26^4  [(R.1.1, 4.0, 4, 4)]
1   26^6-25^6                    (26^6-25^6)/26^6  [(R.1.1, 6.0, 6, 6)]
2   26^6-25^6                  (26^6-25^6)/(26^6)  [(R.1.1, 6.0, 6, 6)]
3   26^4-25^4                     1/(25^4)*(26^4)  [(R.1.1, 4.0, 4, 4)]
4   26^4-25^4          1/[(25^4)/(26^4)] * (26^4)  [(R.1.1, 4.0, 4, 4)]
5   26^4-25^4       (1-[1/[(25^4)/(26^4)]])[26^4]  [(R.1.1, 4.0, 4, 4)]
6   26^3-25^3                    1 - [(26^2) * 3]  [(R.1.1, 3.0, 3, 3)]
7   26^3-25^3                    1 - [(25^2) * 3]  [(R.1.1, 3.0, 3, 3)]
8   26^3-25^3  (26*25*25)^3 * (26*25*26)^3 * 26^3  [(R.1.1, 3.0, 3, 3)]
9   26^3-25^3     (1*25*25)^3 * (26*25*1)^3 * 1^3  [(R.1.1, 3.0, 3, 3)]
10  26^3-25^3      (1*25*25)^3 * (1*25*1)^3 * 1^3  [(R.1.1, 3.0, 3, 3)]
11  26^3-25^3      (1*25*25)^3 + (1*25*1)^3 + 1^3  [(R.1.1, 3.0, 3, 3)]
12  26^5-25^5                           32/(26^5)  [(R.1.1, 5.0, 5, 5)]
13  26^4-25^4                  (26*25*25*25)/26^4  [(R.1.1, 4.0, 4, 4)]

==================== ['R.0.0', 'R.1'] ====================

      Answer        Attempt                                   Matching sub-exp
0  26^5-25^5      26^6-25^5  [(R.0.0, 26.0, 26, 26), (R.1, 9765625.0, 25^5,...
1  26^5-25^5      26^4-25^5  [(R.0.0, 26.0, 26, 26), (R.1, 9765625.0, 25^5,...
2  26^5-25^5      26^6-25^5  [(R.0.0, 26.0, 26, 26), (R.1, 9765625.0, 25^5,...
3  26^5-25^5  (26^6)-(25^5)  [(R.0.0, 26.0, 26, 26), (R.1, 9765625.0, 25^5,...

==================== ['R.0'] ====================

,Answer,Attempt,Matching sub-exp
0,26^5-25^5,26^5-2,"[(R.0, 11881376.0, 26^5, 26^5)]"
1,26^4-25^4,26^4/((1!)*(25!)),"[(R.0, 456976.0, 26^4, 26^4)]"
2,26^5-25^5,(26^5)*5,"[(R.0, 11881376.0, 26^5, 26^5)]"
3,26^4-25^4,26^4/(4!),"[(R.0, 456976.0, 26^4, 26^4)]"
4,26^4-25^4,(26^4)*4,"[(R.0, 456976.0, 26^4, 26^4)]"
5,26^5-25^5,26^5-24^5,"[(R.0, 11881376.0, 26^5, 26^5)]"
6,26^5-25^5,26^5-5,"[(R.0, 11881376.0, 26^5, 26^5)]"
7,26^6-25^6,(26^6)/(6! * 5! * 4! * 3! * 2! ),"[(R.0, 308915776.0, 26^6, 26^6)]"
8,26^6-25^6,(26^6)-(26^5),"[(R.0, 308915776.0, 26^6, 26^6)]"
9,26^5-25^5,26^5 - 1,"[(R.0, 11881376.0, 26^5, 26^5)]"
10,26^6-25^6,(26^6)-(6^2),"[(R.0, 308915776.0, 26^6, 26^6)]"
11,26^5-25^5,(26^5)-2115751,"[(R.0, 11881376.0, 26^5, 26^5)]"
12,26^5-25^5,(26^5)-(26^5-25^5),"[(R.0, 11881376.0, 26^5, 26^5)]"
13,26^5-25^5,26^5 - 1,"[(R.0, 11881376.0, 26^5, 26^5)]"
14,26^5-25^5,26^5 - 2,"[(R.0, 11881376.0, 26^5, 26^5)]"
15,26^6-25^6,26^6-6,"[(R.0, 308915776.0, 26^6, 26^6)]"
16,26^6-25^6,26^6/6,"[(R.0, 308915776.0, 26^6, 26^6)]"
17,26^6-25^6,26^6/26!,"[(R.0, 308915776.0, 26^6, 26^6)]"
18,26^6-25^6,26^6-324000,"[(R.0, 308915776.0, 26^6, 26^6)]"
19,26^5-25^5,26^5-26^4,"[(R.0, 11881376.0, 26^5, 26^5)]"
20,26^6-25^6,(26^6)^6,"[(R.0, 308915776.0, 26^6, 26^6)]"
21,26^6-25^6,(26^6)/5,"[(R.0, 308915776.0, 26^6, 26^6)]"
22,26^4-25^4,26^4 - 4!,"[(R.0, 456976.0, 26^4, 26^4)]"
23,26^6-25^6,26^6-21^6,"[(R.0, 308915776.0, 26^6, 26^6)]"
24,26^5-25^5,(26^5)*5,"[(R.0, 11881376.0, 26^5, 26^5)]"
25,26^4-25^4,[26^4]/25,"[(R.0, 456976.0, 26^4, 26^4)]"
26,26^3-25^3,(26*26*26) - 3,"[(R.0, 17576.0, 26^3, 26*26*26)]"
27,26^3-25^3,(26*26*26) - 2,"[(R.0, 17576.0, 26^3, 26*26*26)]"
28,26^3-25^3,(26*26*26) - 1,"[(R.0, 17576.0, 26^3, 26*26*26)]"
29,26^5-25^5,26^5-25,"[(R.0, 11881376.0, 26^5, 26^5)]"
30,26^3-25^3,(26^3)-1,"[(R.0, 17576.0, 26^3, 26^3)]"
31,26^5-25^5,26^5 - 26^5,"[(R.0, 11881376.0, 26^5, 26^5)]"
32,26^6-25^6,(26^6)-(26^5),"[(R.0, 308915776.0, 26^6, 26^6)]"
33,26^4-25^4,26^4 / 4,"[(R.0, 456976.0, 26^4, 26^4)]"
34,26^6-25^6,26^6 - 26^1,"[(R.0, 308915776.0, 26^6, 26^6)]"
35,26^6-25^6,26^6 - 25^1,"[(R.0, 308915776.0, 26^6, 26^6)]"
36,26^6-25^6,26^6 - 25,"[(R.0, 308915776.0, 26^6, 26^6)]"
37,26^5-25^5,26^5 -1,"[(R.0, 11881376.0, 26^5, 26^5)]"
38,26^5-25^5,26^5 - 26^4,"[(R.0, 11881376.0, 26^5, 26^5)]"

==================== Nothing ====================

        Answer                                    Attempt
0    26^3-25^3                                     3*26^2
1    26^3-25^3                         25^2 + 25 + 25 + 1
2    26^6-25^6                           26*26*26*26*26*1
3    26^6-25^6                           1*26*26*26*26*26
4    26^5-25^5                                      26**4
5    26^5-25^5                                      25*26
6    26^5-25^5                                    25*26^4
7    26^5-25^5                                  5*25*26^4
8    26^4-25^4                                26*25*25*25
9    26^4-25^4                                26*25*26*25
10   26^4-25^4                                         20
11   26^4-25^4                                          4
12   26^4-25^4                                       26^4
13   26^4-25^4                           26!/((1!)*(25!))
14   26^4-25^4                     (26!/((1!)*(25!)))/26!
15   26^4-25^4                                         11
16   26^4-25^4                                         10
17   26^4-25^4                                         13
18   26^4-25^4                                         16
19   26^4-25^4                                26*25*25*25
20   26^4-25^4                                26*26*25*26
21   26^4-25^4                                26*26*25*25
22   26^4-25^4                                      14426
23   26^4-25^4                                 25*25*25+1
24   26^4-25^4                            (25*25*25*25)+4
25   26^4-25^4                                      16276
26   26^5-25^5                             26*26*26*26*25
27   26^5-25^5                                       26^4
28   26^5-25^5                              26*26*26*26*5
29   26^5-25^5                                       26^4
..         ...                                        ...
541  26^4-25^4                                       2600
542  26^4-25^4                                      17576
543  26^4-25^4                                      52728
544  26^4-25^4                                      70304
545  26^4-25^4                                      70298
546  26^3-25^3                                       2028
547  26^6-25^6                              244140625 * 6
548  26^6-25^6                                6*(7893600)
549  26^3-25^3                                15625/17576
550  26^3-25^3                                         26
551  26^4-25^4                                       26^3
552  26^4-25^4                                     4*26^3
553  26^3-25^3                            1-(15625/17576)
554  26^3-25^3                                      26*26
555  26^3-25^3                                          1
556  26^3-25^3                                      676*3
557  26^3-25^3                                  676*3 - 2
558  26^3-25^3                                       2026
559  26^3-25^3                                       2025
560  26^3-25^3                                      16250
561  26^3-25^3                            1-(15625/17576)
562  26^3-25^3                            1-(17576/15625)
563  26^3-25^3                                 1951/17576
564  26^3-25^3                                       26^2
565  26^3-25^3                               26^2 * 3 - 2
566  26^3-25^3                    26^2 * 3 - 2 - 1 -1 - 1
567  26^3-25^3                                      17575
568  26^3-25^3                                    25*24*3
569  26^3-25^3  26^2 + 26^2 + 26^2 - 1 - 1 - 26 - 26 - 26
570  26^3-25^3                                       2028

[571 rows x 2 columns]

==================== ['R.0', 'R.1.0'] ====================

      Answer        Attempt                                   Matching sub-exp
0  26^5-25^5      26^5-25^4  [(R.0, 11881376.0, 26^5, 26^5), (R.1.0, 25.0, ...
1  26^6-25^6      26^6-25^5  [(R.0, 308915776.0, 26^6, 26^6), (R.1.0, 25.0,...
2  26^6-25^6  (26^6)-(25^5)  [(R.0, 308915776.0, 26^6, 26^6), (R.1.0, 25.0,...
3  26^6-25^6      26^6-25^5  [(R.0, 308915776.0, 26^6, 26^6), (R.1.0, 25.0,...
4  26^5-25^5    26^5 - 25^4  [(R.0, 11881376.0, 26^5, 26^5), (R.1.0, 25.0, ...

==================== ['R.0.0', 'R.1.0'] ====================

,Answer,Attempt,Matching sub-exp
0,26^5-25^5,26*5-25*5,"[(R.0.0, 26.0, 26, 26), (R.1.0, 25.0, 25, 25)]"
1,26^6-25^6,"P(26,6) - P(25,6)","[(R.0.0, 26.0, 26, 26), (R.1.0, 25.0, 25, 25)]"

!cat ../../../2015data/Week2_problem_info.txt

Problem 14
    $n2 = random(3,6,1);

    Lower case English letters are from "a-z". The order matters here. For example, "ab" is a different string from "ba". Repetition is allowed, i.e. the same letter can occur multiple times in a string.
    1. How many strings of length [$n2] consisting of lower case English letters are there?  [__________]{Compute("26**$n2")}
    2. How many strings of length [$n2] consisting of lower case English letters, **excluding the letter "x"**, are there? [__________]{Compute("25**$n2")}
    3. How many strings of length [$n2] consisting of lower case English letters, **and including at least one "x"**, are there? [__________]{Compute("26**$n2-25**$n2")}
    
Parsing is:
R: 26**$n2-25**$n2
R.0: 26**$n2
R.0.0: 26
R.0.1: $n2
R.1: 25**$n2
R.1.0: 25
R.1.1: $n2

In [10]:

combined_clusters={}
for t in types_of_mistakes:
    if t=='Nothing':
        continue
    sig=eval(t)
    #print sig
    for e in sig:
        if type(e)==tuple:
            loc=e[0]
            if loc in combined_clusters.keys():
                combined_clusters[loc].append(t)
            else:
                combined_clusters[loc]=[t]
combined_clusters

{'R': ["[('R', 64775151.0, u'26^6-25^6', u'26^6 - 25^6')]",
  "[('R', 64775151.0, u'26^6-25^6', u'26^6-25^6')]",
  "[('R', 2115751.0, u'26^5-25^5', u'2115751')]",
  "[('R', 66351.0, u'26^4-25^4', u'(26^4)-(25^4)')]",
  "[('R', 1951.0, u'26^3-25^3', u'1951')]",
  "[('R', 2115751.0, u'26^5-25^5', u'26^5-25^5')]"],
 'R.0': ["[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1', 390625.0, u'25^4', u'25^4')]",
  "[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0', 17576.0, u'26^3', u'17576'), ('R.1', 15625.0, u'25^3', u'15625')]",
  "[('R.0', 17576.0, u'26^3', u'26*26*26'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0', 456976.0, u'26^4', u'26**4'), ('R.1', 390625.0, u'25^4', u'25**4')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1', 244140625.0, u'25^6', u'25^6')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.1', 6.0, u'6', u'3!')]",
  "[('R.0', 308915776.0, u'26^6', u'26^5*26')]",
  "[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0', 17576.0, u'26^3', u'17576')]",
  "[('R.0', 11881376.0, u'26^5', u'11881376'), ('R.1', 9765625.0, u'25^5', u'9765625')]",
  "[('R.0', 17576.0, u'26^3', u'26^3'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0', 17576.0, u'26^3', u'26*26*26')]",
  "[('R.0', 308915776.0, u'26^6', u'308915770')]",
  "[('R.0', 456976.0, u'26^4', u'(26!)/(1!*(25!)) * 26^3'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1', 9765625.0, u'25^5', u'25^5')]",
  "[('R.0', 17576.0, u'26^3', u'26*26*26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0', 17576.0, u'26^3', u'26^3'), ('R.1.1', 3.0, u'3', u'3')]"],
 'R.0.0': ["[('R.0.0', 26.0, u'26', u'1 * 26 * 1'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3!/(2!*1!)')]",
  "[('R.0.0', 26.0, u'26', u'26^1')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26'), ('R.1.1', 3.0, u'3', u'3!/2!*1!')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'(26!)/(1!*(25!))'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'26')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'26*5-25*5')]",
  "[('R.0.0', 26.0, u'26', u'26!/[25!]'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'1*26')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1', 9765625.0, u'25^5', u'25^5')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 5.0, u'5', u'5!/(4!)')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'26!/((1!)*(25!))'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'1*26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'4*1')]",
  "[('R.0.0', 26.0, u'26', u'1 * 1 * 26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'1 * 1 * 1 * (3!/(2!*1!))')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0.0', 26.0, u'26', u'26!/(26-1)!'), ('R.1.0', 25.0, u'25', u'26-1')]",
  "[('R.0.0', 26.0, u'26', u'26!/((25!))'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'C(4,1)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'C(4,3)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1', 390625.0, u'25^4', u'25^4')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26 * 1'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3!/2!*1!')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 5.0, u'5', u'(5!)/(4!(5-4)!)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'1*25'), ('R.1.1', 3.0, u'3', u'3')]"],
 'R.1': ["[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1', 390625.0, u'25^4', u'25^4')]",
  "[('R.1', 15625.0, u'25^3', u'25*25*25')]",
  "[('R.0', 17576.0, u'26^3', u'17576'), ('R.1', 15625.0, u'25^3', u'15625')]",
  "[('R.0', 456976.0, u'26^4', u'26**4'), ('R.1', 390625.0, u'25^4', u'25**4')]",
  "[('R.1', 390625.0, u'25^4', u'25*25*25*25')]",
  "[('R.1', 9765625.0, u'25^5', u'25**5')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1', 244140625.0, u'25^6', u'25^6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1', 9765625.0, u'25^5', u'25^5')]",
  "[('R.1', 244140625.0, u'25^6', u'244140625')]",
  "[('R.1', 15625.0, u'25^3', u'25**3')]",
  "[('R.0', 11881376.0, u'26^5', u'11881376'), ('R.1', 9765625.0, u'25^5', u'9765625')]",
  "[('R.1', 15625.0, u'25^3', u'(1*25*1)^3')]",
  "[('R.1', 9765625.0, u'25^5', u'25^5')]",
  "[('R.1', 244140625.0, u'25^6', u'25^6')]",
  "[('R.1', 390625.0, u'25^4', u'25^4')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1', 9765625.0, u'25^5', u'25^5')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1', 390625.0, u'25^4', u'25^4')]"],
 'R.1.0': ["[('R.0.0', 26.0, u'26', u'1 * 26 * 1'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3!/(2!*1!)')]",
  "[('R.0', 17576.0, u'26^3', u'26*26*26'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'(26!)/(1!*(25!))'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.1.0', 25.0, u'25', u'1*25'), ('R.1.1', 3.0, u'3', u'3!/(2!*1!)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'26*5-25*5')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'26!/[25!]'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.1.0', 25.0, u'25', u'25^1'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'26!/((1!)*(25!))'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0.0', 26.0, u'26', u'1 * 1 * 26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'1 * 1 * 1 * (3!/(2!*1!))')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0', 17576.0, u'26^3', u'26^3'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6!/5!')]",
  "[('R.0', 456976.0, u'26^4', u'(26!)/(1!*(25!)) * 26^3'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'26!/(26-1)!'), ('R.1.0', 25.0, u'25', u'26-1')]",
  "[('R.1.0', 25.0, u'25', u'25^1')]",
  "[('R.0.0', 26.0, u'26', u'26!/((25!))'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.1.0', 25.0, u'25', u'1*25')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26 * 1'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3!/2!*1!')]",
  "[('R.1.0', 25.0, u'25', u'1 * 1 * 25'), ('R.1.1', 3.0, u'3', u'1 * 1 * 1 * (3!/(2!*1!))')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'1*25'), ('R.1.1', 3.0, u'3', u'3')]"],
 'R.1.1': ["[('R.0.0', 26.0, u'26', u'1 * 26 * 1'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3!/(2!*1!)')]",
  "[('R.1.1', 4.0, u'4', u'4*1')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26'), ('R.1.1', 3.0, u'3', u'3!/2!*1!')]",
  "[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.1', 5.0, u'5', u'5')]",
  "[('R.1.0', 25.0, u'25', u'1*25'), ('R.1.1', 3.0, u'3', u'3!/(2!*1!)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'26*5-25*5')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.0', 25.0, u'25', u'25^1'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.1', 6.0, u'6', u'3!')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 5.0, u'5', u'5!/(4!)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'1*26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0', 456976.0, u'26^4', u'26^4'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0', 11881376.0, u'26^5', u'26^5'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'4*1')]",
  "[('R.0.0', 26.0, u'26', u'1 * 1 * 26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'1 * 1 * 1 * (3!/(2!*1!))')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'4')]",
  "[('R.0', 17576.0, u'26^3', u'26^3'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6!/5!')]",
  "[('R.0', 17576.0, u'26^3', u'26*26*26'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'C(4,1)')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 4.0, u'4', u'C(4,3)')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0', 308915776.0, u'26^6', u'26^6'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'1 * 26 * 1'), ('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 3.0, u'3', u'3!/2!*1!')]",
  "[('R.1.0', 25.0, u'25', u'1 * 1 * 25'), ('R.1.1', 3.0, u'3', u'1 * 1 * 1 * (3!/(2!*1!))')]",
  "[('R.1.0', 25.0, u'25', u'25'), ('R.1.1', 5.0, u'5', u'5')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.1', 5.0, u'5', u'(5!)/(4!(5-4)!)')]",
  "[('R.0', 17576.0, u'26^3', u'26^3'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.1', 6.0, u'6', u'6!/5!')]",
  "[('R.1.1', 6.0, u'6', u'6')]",
  "[('R.0.0', 26.0, u'26', u'26'), ('R.1.0', 25.0, u'25', u'1*25'), ('R.1.1', 3.0, u'3', u'3')]",
  "[('R.1.1', 4.0, u'4', u'4')]"]}

In [37]:
eval("[('R.1.1', 4.0, u'4', u'4')]")

[('R.1.1', 4.0, u'4', u'4')]

In [46]:
!ls ../../../2015data/

#Week2_problem_info.txt# Week2_problem_info.txt   Week7a_problem_info.txt
Week2_data.pkl           Week7a_data.pkl